<launch>
  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="/newchair5_diff_drive_controller/cmd_vel" />
  <arg name="move_forward_only" default="false"/>
   <remap from="scan" to="/scan"/>
  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
    <rosparam file="$(find newchair5)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find newchair5)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find newchair5)/config/local_costmap.yaml" command="load" />
    <rosparam file="$(find newchair5)/config/global_costmap.yaml" command="load" />
    <rosparam file="$(find newchair5)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find newchair5)/config/dwaPlanner_params.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
  <!--  <param name="DWAPlannerROS/min_vel_x" value="-0.8" if="$(arg move_forward_only)" />-->
  </node>
</launch>
